
.textArea{

    display: inline-block;
    resize: none;
    height: 20px;
    width: 150px;
}
.textAreaSubmitButton
{
    display: inline-block; 
    height: 20px;
}


.contactName{
    background-color: rgb(246, 204, 67);
    border: 1px solid rgb(246, 204, 67);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width:200px;
    height: 25px;
    text-align: center;
}

.parent{
    border: 1px solid black;
    margin: 1rem;
    text-align: center;
}
    

.childContact{
    
    display: inline-block;
    border: 1px solid rgb(9, 3, 3);
    padding: 0;
    vertical-align: middle;
    overflow: auto;
    text-overflow: ellipsis;
    width:250px;
    height: 300px ;
    margin: 10px;
    
}


.childMessageBoard{
    
    display: inline-block;
    border: 1px solid rgb(9, 3, 3);
    padding: 0;
    vertical-align: middle;
    width:250px;
    height: 300px ;
    margin: 10px;
    
}

.messageBoard{
    
    background: rgb(4, 241, 44);
    display: inline-block;
    border: 1px solid rgb(9, 3, 3);
    padding: 0;
    vertical-align: middle;
    overflow: auto;
    text-overflow: ellipsis;
    width:200px;
    height: 225px ;
    margin: 10px;
    
}

.messages{


    box-shadow: 5px 2px 2px rgb(99, 15, 178);
    border: 1px; 
    border-radius: 5px;


}

.messagesLeft{
    text-align: left;
    border-radius: 5px;
}

.messagesRight{
    text-align: right;
    border-radius: 5px;

}

.messagesDiv{
    text-align: right;
}


.messageSendTextField{
    padding: 1rem 1rem;
    width: 200px;
    height:220px;
}

.header{

    margin: 0;
    padding: 0;
    background-color: blueviolet;


}

.entirePage{

    background-color: blueviolet;

}