.contactName{
    background-color: rgb(246, 204, 67);
    border: 1px solid rgb(246, 204, 67);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width:250px;
    height: 25px;
    text-align: center;
}

.parent{
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
    

.child{
    
    display: inline-block;
    border: 1px solid rgb(9, 3, 3);
    padding: 1rem 1rem;
    vertical-align: middle;
    overflow: auto;
    text-overflow: ellipsis;
    width:250px;
    height: 250px ;
    
}
